@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.main-icon {
    width: 80.041px;
    height: 40px;
    flex-shrink: 0;
}

/* header section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 0 44px 0;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left h4 {
    color: #0B0223;
    ;
    font-size: 45px;
    font-weight: 700;
    margin-left: 20px;
}

.header span {
    color: #ff42a5;
}

.header-right ul {
    display: flex;
    align-items: center;
}

.header-right ul li {
    list-style: none;
    margin-right: 30px;

}

.header-right ul li a {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.header-right button {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 18px 23px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.youtube-icon {
    width: 32.916px;
    height: 24px;
    flex-shrink: 0;
    color: #F61C0D;
}

.tiktok-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    color: #08FFF9;
}

/* banner section */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 66px;
    margin-top: 19px;
}

.banner-content h2 {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content h1 {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content ul li {
    color: #534C64;
    font-size: 20px;
    text-transform: lowercase;
    list-style: none;
    margin: 16px 0;
}

.banner-content i {
    color: #ff42a5;
    margin-right: 10px;
}

i.thrd.fa-solid.fa-child {
    color: #0B0223;
}

.banner-content button {
    color: #FFF;
    font-size: 20px;
    border: none;
    margin-top: 40px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
}

button.btn-second {
    border-radius: 48px;
    background: #4EC5F7;
}

.banner-img img {
    width: 600px;
}

/* we are gammer section ontional */


/* online game section */
.online-game {
    padding: 120px 0;
}

.online-game .title {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.online-game span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-game .description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 12px 0 45px 0;
}

.card {
    display: flex;
    gap: 22px;
}

.box img {
    border-radius: 16px;
    height: 360px;
    width: 454px;
}

.box p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding: 22px 0;
}

/* play instantly and 2img section */

.play-instantly {
    display: flex;
    align-items: center;
}

.play-contant {
    margin-right: 115px;

}

.play-contant h1 {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #0B0223;
}

.play-contant .span-1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-contant p {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 353px;
    padding-top: 24px;
}

.play-img {
    position: relative;
    margin-left: 155px;
}

.play-img .img-1 {
    width: 575.833px;
    height: 600px;
    border-radius: 8px;
}

.play-img .img-2 {
    width: 300.5px;
    height: 345.083px;
    flex-shrink: 0;
    border-radius: 8px;
    position: absolute;
    top: 322px;
    left: -138px;
}

/* career section optional */

/* game category section */
.game-category {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

.game {
    display: flex;
    align-items: center;
    margin: 33px 20px;
    border: none;
    transition: .5s;
    padding: 4px;
}

.game:hover {
    border: 1px solid goldenrod;
    border-radius: 50px;
    background: #FFF;
    
    color: red;
}

.game img {
    margin-right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.game h3 {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}
.game h3:hover{
    color: red;
}

/* footer section */
.footer{
    background: #0B0223;
    padding: 125px 0;
    text-align: center;

}
.footer-fast{
    display: flex;
    
}
.footer-fast {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-fast h4 {
    color: #ffffff;
    ;
    font-size: 45px;
    font-weight: 700;
    margin-left: 20px;
}

.footer-fast span {
    color: #ff42a5;
}

.footer-second ul{
    display: flex;
    justify-content: center;
}
.footer-second ul li{
    list-style: none;
    padding: 50px 40px;
}
.footer-second ul li a{
    color: #FFF;
text-align: center;
font-size: 18px;
font-weight: 600;
}

.footer-third ul, .footer-four ul{
    display: flex;
    justify-content: center;
}
.footer-third ul li, .footer-four ul{
    list-style: none;
   
}
.footer-third ul li i{
    width: 40px;
    height: 40px;
    color: #ffffff;
    font-size: 35px;
    padding-right: 40px;

}
.footer-four ul li a{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;
padding-right: 55px;
}
.footer-four ul{
    margin: 60px 0 24px 0;
}
.footer-end p{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-weight: 500;
padding-top: 25px;
}